.container{
  display: flex;
  width: 100%;

  .toolbar {
    padding: 5px;
    color: white;
    height: 40px;
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: darkmagenta;
    align-items: center;

    .title {
      font-size: 24px;
    }

    mat-icon {
      transform: scale(1.3);
    }
  }
}